#title {
    width: 100%;
    font-size: 30px;
    background-color: rgb(69, 200, 220);
    line-height: 68px;
    text-align: center;
    color: white;
}

#center {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.workingSection{
    margin-top: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container{
    width:100%;
    max-height: 300px;
    flex: 1;
    border:1px solid grey;
}

.actionButton{
    width: 100%;
    height: 44px;
    font-size: 18px;
}