<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HybridDebug</title>

    <link rel="stylesheet" type="text/css" href="./css/iview.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="../../../node_modules/monaco-editor/min/vs/editor/editor.main.css">
    <script type="text/javascript" src="./js/socket.io.min.js"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/iview.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script>
        var require = {
            paths: {
                'vs': '../../../node_modules/monaco-editor/min/vs'
            }
        };
    </script>
    <script src="../../../node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="../../../node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="../../../node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>
</head>
<body>
    <div id = "title">HybridDebug工具</div>
    <div id = "center">
        <div id = "projects" style = "width: auto;height: 400px;background-color:white">
            <div class = "ivu-cell-group">
                <div class="ivu-card-head"><p><i class="ivu-icon ivu-icon-ios-options"></i> 项目列表</p></div>
                <div class="ivu-cell-group" style = "min-width: 60px">
                    
                    <div :class="{'ivu-cell':1,'ivu-cell-selected':index == selectdProjectIndex}" v-for = "(item,index) in projectList" @click = "didSelectedProjectList(index)">
                        <div class="ivu-cell-item">
                            <div class="ivu-cell-main">
                                <div class="ivu-cell-title">{{item}}</div>
                                <div class="ivu-cell-label"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "verticalSep"></div>

        <div class = "workingSection" style = "width: 36%;margin-left: 4px;">
            <div class="ivu-tag ivu-tag-default ivu-tag-checked" style = "height: auto;">
                <div>
                    <span class="ivu-tag-text" style = "line-height: 20px;">当前项目路径:</span>
                </div>
                <div>
                    <span class="ivu-tag-text" style = "line-height: 20px;">{{statusPath}}</span>
                </div>
            </div>

            <div id="infoForm" style = "flex: 1;margin-top: 12px;">
                <i-table stripe border :columns="desc" :data="infos"></i-table>
                
                <div class = "hSep" style = "margin-top: 4px;"></div>
                <div style = "margin-top: 12px;">
                    <i-button :type="compileOpinion.zipJS ? 'success':'default' " @click = "compileOpinion.zipJS = !compileOpinion.zipJS">压缩JS
                    </i-button>
                </div>

                <div class = "hSep" style = "margin-top: 4px;"></div>

                <div id="actionButtons" style="display: flex;flex-direction: row;margin-top: 12px;">
                    <div class="ivu-btn-group ivu-btn-group-default">
                        <i-button type="default" style = "font-size: 14px" icon="ios-construct-outline" @click="compileCodes()">编译</i-button>
                        <i-button type="default" style = "font-size: 14px" icon="ios-link-outline" @click="reloadZip()">传输</i-button>
                        <i-button type="default" style = "font-size: 14px" icon="ios-refresh" @click="reloadApp()">刷新</i-button>
                        <i-button type="default" style = "font-size: 14px" icon="ios-cloud-upload" @click="uploadZip()">上传</i-button>
                    </div>
                </div>
                <div style="display: flex;margin-top: 12px;">
                    <i-input style="margin-top: 4px;" :autofocus="false" :rows="8" v-model="compilerLog" type="textarea"
                        placeholder="日志输出区">
                    </i-input>
                </div>
            </div>
        </div>
        <div class="workingSection" style="display: flex;flex: 1;width: 64%;margin-left: 10px">
            <div id="container" style = "flex: 1;width: 100%;"></div>
            <i-button type="success" @click="runScript()" class="actionButton" style="margin-top: 2px;">Run</i-button>
            <i-input style="margin-top: 2px;" :autofocus="false" :rows="6" v-model="scriptLog" type="textarea"
            placeholder="JavaScript打印区" >
            </i-input>
        </div>
    </div>
</body>
</html>